<style type="text/css">
	form {
    width: 450px;
    overflow: hidden;
    }
    .input_div{
    	width: 350px;
    	float: left;
    }
    .info{
    	width: 350px;
    	height: 20px;
    	margin-top: 5px;
    	padding-left: 5px;
    	color: red;
    	font-size: 14px;
    }
    button {
    width: 70px;
    height: 32px;
    margin-top: 1px;
    background: rgba(6, 127, 228, 0.71);
    border-radius: 6px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    float: right;
    }
	#Button{
		background: #46a3ff;
	}
	a{
		cursor: pointer;
	}
</style>
<div class="row">
	<div class="container-fluid" >
		<ol class="breadcrumb">
		  <li>存款</li>
		  <li id="kjt_bread">存款</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="container-fluid" >
		<form class="form-signin" name="myForm" id="loginForm">
			<div class="input_div">
				<input type="text" name="username" class="username form-control" placeholder="请输入存款金额" autofocus autocomplete="off"/>
			</div>
			<button type="button" id="Button">确 定</button>
		</form>
		<div class="info"></div>
	</div>
</div>
<script src="components/deposit/saveMoney/saveMoneyAmount.js"></script>
<script type="text/javascript">
	new KJT.component.saveMoneyAmount({
		$NameInput:$(".username"),
		$Button:$("#Button"),
		$kjt_breadcrumb:$("#kjt_bread"),
		$info:$(".info"),
	});
</script>
