<style type="text/css">
    .KJT-mt-20{
		margin-top: 10px;
	}
	.KJT_btn{
		background: #1e90ff;
		color: #fff;
	}
	.info{
		margin-left: 10px;
		color: #ff5809;
		font-size: 14px;
	}
</style>
<div class="row">
	<div class="container-fluid" >
		<ol class="breadcrumb">
		  <li>贷款利率</li>
		</ol>
	</div>
</div>

<div class="row KJT-mt-20" id="KJT_list">
	<div class="container-fluid">
        <table class="table table-bordered table-hover">
            <tbody>
            	<tr class="active">
            		<th width="3%">序号</th>
	                <th width="25%">贷款种类</th>  
	                <th>利率</th>
	            </tr>
            </tbody>
            <tbody id="arcListView">
				
            </tbody>
        </table>
    </div>
</div>
<script src="components/rate/loanRate/index.js"></script>
<script type="text/javascript">
	new KJT.component.loanRate({
		$TableContentWrapper:$("#arcListView"),
	});
</script>
