html{
	width: 100%;
	height: 100%;
}
body {
	background:#f2f2f2;
	width: 100%;
	height: 100%;
}
.Head_Name{
	width: 100%;
	height: 3.25rem;
	padding: 0 0.75rem;
	line-height: 3.25rem;
	background:#fff;
	margin-bottom: 0.5rem;
}
.Head_Name img{
	width: 2.4rem;
	height: 2.4rem;
	margin-top:0.45rem;
	border-radius: 2.4rem;
	float: left;
}
.Head_Name span{
	font-size: 0.9rem;
	font-family: "微软雅黑";
	color: #282828;
	float: right;
}
.Post{
	width: 100%;
	height: 2.5rem;
	background:#FFFFFF;
	padding: 0 0.75rem;
	line-height: 2.5rem;
	margin-bottom: 0.5rem;
}
.Post_left{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #282828;
	display: block;
	float:left;
}
.Post_right{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #989898;
	display: block;
	float:right;
}
.ID{
	width: 100%;
	height: 2.5rem;
	background:#FFFFFF;
	padding: 0 0.75rem;
	line-height: 2.5rem;
	margin-bottom: 0.5rem;
}
.ID_left{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #282828;
	display: block;
	float:left;
}
.ID_right{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #989898;
	display: block;
	float:right;
}
.Tel{
	width: 100%;
	height: 2.5rem;
	background:#FFFFFF;
	padding: 0 0.75rem;
	line-height: 2.5rem;
	margin-bottom: 0.5rem;
}
.Tel:active{
	background: #fafafa;
}
.Tel_left{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #282828;
	display: block;
	float:left;
}
.Tel_right{
	font-size: 0.7rem;
	font-family: "微软雅黑";
	color: #989898;
	margin-right:0.5rem;
	display: block;
	float:right;
}
.iconfont{
	display:block;
	float:right;
}
.button{
	width: 100%;
	margin-top:3.75rem;
	height: 2.5rem;
	background: #FFFFFF;
	color:#FDA340;
	font-size: 0.7rem;
	font-family: "微软雅黑";
	text-align:center;
	line-height: 2.5rem;
}
.button:active{
	background: #fafafa;
}body {

}
