	<style type="text/css">
		.ZCC-infobox{border: 1px solid #cccccc;border-radius:10px;width: 50%;margin: 0 auto;overflow: hidden;padding: 20px;margin-bottom: 20px;text-align: center;}
		.ZCC-picbox{width: 250px;height: 250px;margin: 0 auto;border: 1px solid #cccccc;border-radius:4px;padding: 2px;margin-bottom: 10px}
		.ZCC-picbox img{width:100%;height: 100%;border-radius:4px;background-color: #cccccc}
		#ZCC-inputbox{width: 80%;height: auto;margin: 0 auto;}
		.ZCC-margint-10{margin-top: 10px}
		.ZCC-marginb-10{margin-bottom: 10px}

	</style>
	<div class="row">
		<div class="container-fluid" >
			<ol class="breadcrumb">
			  <li>修改密码</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid" >
			<div class="ZCC-infobox">
				<div id="ZCC-inputbox">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >用户名</span>
					  <input type="text" class="form-control" placeholder="Account" id="ZCC-account" readonly>
					</div>
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >密码</span>
					  <input type="text" class="form-control" placeholder="Password" id="ZCC-password">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid" >
			<div style="width: 300px;margin: 0 auto;overflow: hidden;" id="ZCC-ButtonBox">
				<button type="button" class="btn btn-danger" style="float: left;">&nbsp&nbsp&nbsp&nbsp放弃编辑&nbsp&nbsp&nbsp&nbsp</button>
				<button type="button" class="btn btn-primary" style="float: right;">&nbsp&nbsp&nbsp&nbsp保存编辑&nbsp&nbsp&nbsp&nbsp</button>
			</div>
		</div>
	</div>
	<script src="components/userManage/accountManage/changePs.js"></script>
	<script type="text/javascript">
		new ZCC.component.changePs({
			$inputBox:$("#ZCC-inputbox"),
			$buttonBox:$("#ZCC-ButtonBox"),
		});
	</script>