<style type="text/css">
	.ZCC-infobox{border: 1px solid #cccccc;border-radius:10px;width: 50%;margin: 0 auto;overflow: hidden;padding: 20px;margin-bottom: 20px;text-align: center;}
	.ZCC-inputbox{width: 80%;height: auto;margin: 0 auto;}
	.ZCC-inputbox-2{width: 50%;padding: 0 10px;float: left;}
	.ZCC-margint-10{margin-top: 10px}
	.ZCC-marginb-10{margin-bottom: 10px}
</style>	
<div class="row">
	<div class="container-fluid" >
		<ol class="breadcrumb">
		  <li>用户管理</li>
		  <li>班级信息管理</li>
		</ol>
	</div>
</div>


<div class="row">
		<div class="container-fluid" >
			<div class="ZCC-infobox">
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
			</div>

			<div class="ZCC-infobox">
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
				<div  class="ZCC-inputbox ZCC-inputbox-2">
					<div class="input-group ZCC-margint-10">
					  <span class="input-group-addon" >1班</span>
					  <input type="text" class="form-control" placeholder="Username" readonly="readonly">
					</div>
				</div>
			</div>
		</div>
	</div>


<script src="components/userManage/classInfo/index.js"></script>
<script type="text/javascript">
	new ZCC.component.classinfo();
</script>